* {
    border: solid 1px black
}

.card {

    display: inline-block;
}

h3 {
    background-color: #aaa;
    /* overflow: hidden; */
}

h3.ib {
    /* inline:自動縮放到內容的範圍 會待在同一行裡
    block:左右撐滿 */
    display: inline-block;
}

.left,
.right {
    background-color: #f24;
}

h3 .left {
    /* 靠左漂浮 */
    float: left;
    /* background-color: #f24; */
    padding: 10px;
}

h3 .right {
    /* 靠右漂浮 */
    float: right;
    /* background-color: #f24; */
    padding: 10px;

}

.floattext {
    /* 可以在浮動元素的時後 幫你把這東西 把外部容器的高度撐開 */
    overflow: hidden;
}

.card {
    width: 500px;
    height: 200px;
}

.rects .rect {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.rect.rect1 {
    background-color: blue;
}

.rect.rect2 {
    background-color: red;
}

.rect.rect3 {
    background-color: green;
}

.cardStatic .rect2 {
    position: static;
    left: 50px;
    top: 50px;
}

.cardRelative .rect2 {
    position: relative;
    left: 30px;
    top: 30px;
}

.cardAbsolute {
    position: relative;
}

.cardAbsolute .rect2 {
    /* 排版系統外 */
    position: absolute;
    left: 150px;
    top: 50px;
}

.cardFixed .rect2 {
    /* 針對視窗的絕對定位 */
    position: fixed;
    left: 450px;
    bottom: 50px;
}